rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default Deny
    match /{document=**} {
      allow read, write: if false;
    }

    // System Connection Test
    match /system/{docId} {
      allow read, write: if true;
    }

    // Subjects
    match /subjects/{subjectId} {
      allow read, write: if true;
    }

    // Class Rooms
    match /classRooms/{classId} {
      allow read, write: if true;
    }

    // Assignments
    match /assignments/{assignmentId} {
      allow read, write: if true;
    }

    // Students
    match /students/{studentDocId} {
      allow read, write: if true;
    }

    // Submissions
    match /submissions/{submissionId} {
      allow read, write: if true;
    }

    // Attendance
    match /attendance/{attendanceId} {
      allow read, write: if true;
    }
    
    // Admins
    match /admins/{adminId} {
      allow read, write: if true;
    }

    // Teacher Notes
    match /teacherNotes/{noteId} {
      allow read, write: if true;
    }

    // Learning Materials
    match /materials/{materialId} {
      allow read, write: if true;
    }
  }
}

